.idea
tutorial-server/target
tutorial-server/logs
tutorial-server/data
tutorial-server/access-logs
/tutorial-web/target/
/tutorial-web/src/main/chefstory/.angular/
/tutorial-web/src/main/chefstory/node_modules/
