<div>
  <div class="row ">
    <div class=" col-xl-35 col-lg-4 h-100">
      <div class="card pt-2 ">

        <left-selector-recipe-component [parent]="this" [recipe]="recipe" [appComponent]="appComponent"></left-selector-recipe-component>

      </div>
    </div>

    <div class="col-xl-85 col-lg-8">

      <div *ngIf="showRecipe" class="card">

        <display-recipe-component [parent]="this" [recipe]="recipe" [appComponent]="appComponent"></display-recipe-component>

      </div>


      <div *ngIf="!showRecipe" class="card">

        <form-recipe-component [parent]="this" [recipe]="recipe" [appComponent]="appComponent"></form-recipe-component>

      </div>

    </div>
  </div>
</div>
