<div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
            <span class="fs-5 d-none d-sm-inline">Menu</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a class="nav-link align-middle px-0" href="#">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
            </li>
            <li>
              <a class="nav-link px-0 align-middle" data-bs-toggle="collapse" href="#submenu1">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Add Ingredient</span> </a>
              <ul class="collapse show nav flex-column ms-1" data-bs-parent="#menu" id="submenu1">
                <li class="w-100">
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                </li>
                <li>
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link px-0 align-middle" href="#">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li>
              <a class="nav-link px-0 align-middle " data-bs-toggle="collapse" href="#submenu2">
                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
              <ul class="collapse nav flex-column ms-1" data-bs-parent="#menu" id="submenu2">
                <li class="w-100">
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Item</span> 1</a>
                </li>
                <li>
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Item</span> 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link px-0 align-middle" data-bs-toggle="collapse" href="#submenu3">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
              <ul class="collapse nav flex-column ms-1" data-bs-parent="#menu" id="submenu3">
                <li class="w-100">
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Product</span> 1</a>
                </li>
                <li>
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Product</span> 2</a>
                </li>
                <li>
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Product</span> 3</a>
                </li>
                <li>
                  <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Product</span> 4</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link px-0 align-middle" href="#">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
          </ul>
          <hr>
          <div class="dropdown pb-4">
            <a aria-expanded="false" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" href="#" id="dropdownUser1">
              <img alt="hugenerd" class="rounded-circle" height="30" src="https://github.com/mdo.png" width="30">
              <span class="d-none d-sm-inline mx-1">loser</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col py-3">

        <div>
          <button (click)=toggleAddIng() class="btn btn-primary">Add Ingredient ...</button>
          <form class="form-group" #addIngForm="ngForm" (ngSubmit)="addIngredients(addIngForm)" [hidden]="isShowAddIng">

              <label for="titleIng">*Title</label>
              <input #titleIng="ngModel" [(ngModel)]="ingredient.title" class="form-control" id="titleIng" name="titleIng"
                     placeholder="Title is required" required type="text">
            <!--  <div class="small" *ngIf="!titleIng.valid && titleIng.touched">
                Title is required!
              </div>-->
              <label for="categoryIng">Category</label>
              <input [(ngModel)]="ingredient.category" class="form-control" id="categoryIng" name="categoryIng" placeholder="Enter category"
                     type="text">
              <label for="perUnitCostIng">Per Unit Cost</label>
              <input [(ngModel)]="ingredient.perUnitCost" class="form-control" id="perUnitCostIng" name="perUnitCostIng"
                     placeholder="Enter per unit cost"
                     type="text">
     <!--         <label for="unitIng">Unit</label>
              <input [(ngModel)]="ingredient.unit" class="form-control" id="unitIng" name="unitIng" placeholder="Enter unit"
                     type="text">-->
            <label for="unitListIng">Units:</label>
            <select id="unitListIng" name="unitListIng" class="form-control"
                    [(ngModel)]="ingredient.unit">
              <option *ngFor="let unit of appConfiguration.units">{{unit}}</option>
            </select>
            <button [disabled]="!addIngForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>

        <div>
          <button (click)=toggleAddRecipe() class="btn btn-primary">Add Recipe ...</button>
          <form class="form-group" #addRecipeForm="ngForm" (ngSubmit)="addRecipes(addRecipeForm)" [hidden]="isShowAddRecipe">
              <label for="titleRecipe">*Title</label>
              <input #titleRecipe="ngModel" [(ngModel)]="recipe.title" class="form-control" id="titleRecipe"
                     name="titleRecipe"
                     placeholder="Title is required" required type="text">
            <!--    <div class="small" *ngIf="!titleRecipe.valid && titleRecipe.touched">
                  Title is required!
                </div>-->
            <label for="ingredientListForRecipe">Ingredient:</label>
            <select id="ingredientListForRecipe" name="ingredientListForRecipe" class="form-control">
              <option *ngFor="let ingredient of ingredientList">{{ingredient.title}}</option>
            </select>

              <label for="categoryRecipe">Category</label>
              <input [(ngModel)]="recipe.category" class="form-control" id="categoryRecipe" name="categoryRecipe"
                     placeholder="Enter category"
                     type="text">
              <label for="subCatRecipe">Sub category</label>
              <input [(ngModel)]="recipe.subCategory" class="form-control" id="subCatRecipe" name="subCatRecipe"
                     placeholder="Enter sub category"
                     type="text">
              <label for="courseRecipe">Course</label>
              <input [(ngModel)]="recipe.course" class="form-control" id="courseRecipe" name="courseRecipe" placeholder="Enter course"
                     type="text">
            <button [disabled]="!addRecipeForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>

        <button (click)="getAllRecipes()" class="btn btn-primary" type="button">Primary</button>

        <table class="table">
          <thead>
          <tr class="table-secondary">
            <th scope="col">id</th>
            <th scope="col">title</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let recipe of recipeList">
            <td>{{recipe.id}} </td>
            <td>{{recipe.title}}</td>
          </tr>
          </tbody>
        </table>

        <div class="container">
          <!--          <div class="row">
                      <div class = "col-xs-12">
                        <button class="btn btn-success">New Recipe</button>
                      </div>
                    </div>-->
          <hr>
          <div class="row">
            <div *ngFor="let recipe of recipeList" class="col-md-4 col-xs-4">
              <a href="#">
                <img height="100" src={{recipe.url}} width="100">
                <h4 class="caption">{{ recipe.title }}</h4>
                <p class="caption">{{ recipe.category }}</p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
