<div class="container-fluid w-50 p-3 bg-light shadow">
  <h3 class="text-center" >Quick Links</h3>
  <div class="row g-1 px-4 flex-wrap">
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/recipe')">Add Recipe</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/ingredient')">Add Ingredient</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/add-supplier')"> Add new supplier</button>
    </div>
    <div class="col-4">
    <button class="btn btn-primary"
            type="button" (click)="this.routerService.redirectTo('chefstory/take-inventory')">Take Inventory</button>
  </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/add-categories')">Add categories</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/quick-update-ingredients')">Quick update ingredients</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/kitchen-planner')">Kitchen Planner</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/prep-list')">Prep List</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/order-list')">Order List</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('chefstory/packaging')">Packaging</button>
    </div>
  </div>
</div>
