<!--
<p>ingredient works!</p>
-->

<div>
  <form #addIngForm="ngForm" (ngSubmit)="addIngredients(addIngForm)" class="form-group">

    <label for="titleIng">*Title</label>
    <input #titleIng="ngModel" [(ngModel)]="ingredient.title" class="form-control" id="titleIng" name="titleIng"
           placeholder="Title is required" required type="text">
    <label for="categoryIng">Category</label>
    <input [(ngModel)]="ingredient.category" class="form-control" id="categoryIng" name="categoryIng" placeholder="Enter category"
           type="text">
    <label for="perUnitCostIng">Per Unit Cost</label>
    <input [(ngModel)]="ingredient.perUnitCost" class="form-control" id="perUnitCostIng" name="perUnitCostIng"
           placeholder="Enter per unit cost"
           type="text">

    <label for="unitListIng">Units:</label>
    <select [(ngModel)]="ingredient.unit" class="form-control" id="unitListIng"
            name="unitListIng">
      <optgroup [attr.label]="group.key" *ngFor="let group of appComponent.appConfiguration.unitsDetailed | keyvalue">
      <option *ngFor="let unitDetailed of group.value" value="{{unitDetailed.unit}}">{{unitDetailed.unit}}
        ({{unitDetailed.description}})</option>
      </optgroup>
    </select>


    <input type="file" (change)="onFileUpload($event)">
    <img id="blah" style="width:45px; height:45px;" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" *ngIf="imageSrc" />

    <p></p>
    <button [disabled]="!addIngForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
