<!--
<p>ingredient works!</p>
-->

<div>
  <form #addIngForm="ngForm" (ngSubmit)="addIngredients(addIngForm)" class="form-group">

    <label for="titleIng">*Title</label>
    <input #titleIng="ngModel" [(ngModel)]="addIngredient.ingredient.title" class="form-control" id="titleIng" name="titleIng"
           placeholder="Title is required" required type="text">
    <label for="categoryIng">Category</label>
    <input [(ngModel)]="addIngredient.ingredient.category" class="form-control" id="categoryIng" name="categoryIng" placeholder="Enter category"
           type="text">

    <br>
    <div class="input-group">
    <label for="skuCostIng" >sku Cost</label>
    <input (change)="calculatePerUnitCost()" [(ngModel)]="addIngredient.ingredient.skuCost" class="form-control"
           id="skuCostIng" name="skuCostIng"
           placeholder="Enter sku cost"
           type="text">
    <label for="skuQty">sku Qty</label>
    <input (change)="calculatePerUnitCost()" [(ngModel)]="addIngredient.ingredient.skuQty" class="form-control" id="skuQty"
           name="skuQty"
           placeholder="Enter sku qty"
           type="text">
    </div>

    <div>
      <b>
        Per unit cost - {{this.addIngredient.ingredient.perUnitCost}}
      </b>
    </div>

    <label id="supplierForIng" for="supplierForIng">Supplier:</label>
    <ng-select (change)="setSuppliers($event)" [multiple]="true"
               [searchable]="true"
               appendTo="body"
               class="form-control" id="supplierForIng" name="supplierForIng">
      <ng-option *ngFor="let sup of appComponent.suppliers" [value]="sup">{{sup.title}}</ng-option>
    </ng-select>
    <label id="brandForIng" for="brandForIng">Brand:</label>
    <ng-select (change)="setBrands($event)" [multiple]="true"
               [searchable]="true"
               appendTo="body"
               class="form-control" id="brandForIng" name="brandForIng">
      <ng-option *ngFor="let brand of appComponent.brands" [value]="brand">{{brand.title}}</ng-option>
    </ng-select>

    <label for="unitListIng">Units:</label>
    <select [(ngModel)]="addIngredient.ingredient.unit" class="form-control" id="unitListIng"
            name="unitListIng">
      <optgroup [attr.label]="group.key" *ngFor="let group of appComponent.appConfiguration.unitsDetailed | keyvalue">
      <option *ngFor="let unitDetailed of group.value" value="{{unitDetailed.unit}}">{{unitDetailed.unit}}
        ({{unitDetailed.description}})</option>
      </optgroup>
    </select>


    <input type="file" (change)="onFileUpload($event)">
    <img id="blah" style="width:45px; height:45px;" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" *ngIf="imageSrc" />

    <p></p>
    <button [disabled]="!addIngForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
