<div class="container-fluid w-50 p-3 bg-light shadow">
  <h3 class="text-center" >Quick Links</h3>
  <div class="row g-1 px-4 flex-wrap">
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('recipe')">Add Recipe</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('ingredient')">Add Ingredient</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('add-supplier')"> Add new supplier</button>
    </div>
    <div class="col-4">
    <button class="btn btn-primary"
            type="button" (click)="this.routerService.redirectTo('take-inventory')">Take Inventory</button>
  </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('add-categories')">Add categories</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('quick-update-ingredients')">Quick update ingredients</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('kitchen-planner')">Kitchen Planner</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('prep-list')">Prep List</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('order-list')">Order List</button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary"
              type="button" (click)="this.routerService.redirectTo('packaging')">Packaging</button>
    </div>
  </div>
</div>
