<div class="container-fluid" xmlns:trackBy="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Your Logo</a>
      <!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">sdfdsa</span>
          </button>-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav ms-auto"
        >
          <li class="nav-item">
            <a
              class="nav-link align-middle px-0"
              href="#"
              [routerLink]="RouterPaths.HOME"
            >
              <!-- <i class="fs-4 bi-house" ></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Home</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/ingredient'"
            >
              <!--   <i class="fs-4 bi-speedometer2" ></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Add Ingredient</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle bg-dark"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/recipe'"
            >
              <!--<i class="fs-4 bi-speedometer2" *ngIf="!sidebarExpanded"></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Add Recipe</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/auth'"
            >
              <!-- <i class="fs-4 bi-speedometer2" *ngIf="!sidebarExpanded"></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Authenticate</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="row my-4">
    <div title="Block of left section" class="col-2 bg-light shadow rounded">
      <div class="row gx-1">
        <div class="col-md-10">
          <div class="row">
          <label class="col-6 small" for="searchRecipe" id="searchRecipe1">Search Recipe</label>
            <button
              (click)="refresh(false,false,true)"
              class="col-2 btn btn-primary m-2"
              type="submit"
            >
              +
            </button>
            <div class=" col-2 btn-group dropstart p-2">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                :
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="displayRecipeInfo.title==null"
                    [ngClass]="displayRecipeInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Update
                  (select any recipe)</a></li>
                <li
                  *ngIf="displayRecipeInfo.title!=null"><a class="dropdown-item" (click)="onUpdate()">Update</a></li>
                <li *ngIf="displayRecipeInfo.title==null"
                    [ngClass]="displayRecipeInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Remove
                  (select any recipe)</a></li>
                <li
                  *ngIf="displayRecipeInfo.title!=null"><a class="dropdown-item" (click)="remove()">Remove</a></li>
                <!-- <li><hr class="dropdown-divider"></li>-->
                <li><a class="dropdown-item" (click)="sortRecipes('alphabetically')">Group by Alphabetically</a>
                </li>
                <!-- <li><hr class="dropdown-divider"></li>-->
                <li><a class="dropdown-item" (click)="sortRecipes('category')">Group by Category</a></li>
                <li><a class="dropdown-item" (click)="exportRecipes()">Export</a></li>
                <li><a class="dropdown-item" (click)="importRecipes()">Import</a></li>

              </ul>
            </div>
          </div>

          <ng-select
            (change)="getRecipe($event)"
            [multiple]="false"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="searchRecipe"
          >
            <ng-option
              *ngFor="let recipe of appComponent.recipes"
              [value]="recipe"
              >{{ recipe.title }}</ng-option
            >
          </ng-select>
        </div>

      </div>

      <!--by category-->
      <div *ngIf="sortRecipesBy=='category'" class="row ps-4 mt-4 w-75 overflow-auto h-50 ">
        <ul
          *ngFor="let mapCategFoRecip of appComponent.categoryRecipeMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
          class="container-fluid list-group list-group-flush  "
        >
          <div >
            {{ mapCategFoRecip.key}}
            <ul
              *ngFor="let recip of mapCategFoRecip.value"
              class="container-fluid list-group list-group-flush  "
            >
              <li class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="getRecipe(recip)">
                {{recip.title}}
              </li>
            </ul>
          </div>
          <li class="dropdown-divider"></li>
        </ul>
      </div>

      <!--by alphabetically-->
      <div *ngIf="sortRecipesBy=='alphabetically'" class="row  ps-3 mt-3 w-75">
        <ul
          *ngFor="let recipe of appComponent.recipes |  sortByOrder:'title'"
          class="list-group list-group-flush "
        >
          <li
            (click)="getRecipe(recipe)"
            class="list-group-item list-group-item-action cursor-pointer"
          >
            {{ recipe.title }}
          </li>
        </ul>
      </div>

  </div>

    <div title="Block of right section" class="col  mx-3 my-1 ">
      <div class="" *ngIf="showRecipe">

        <!--    <div class="row bg-light shadow rounded p-3 bg-image" style="background-image: url('assets/img/border.jpeg');">-->
        <div title="Block of display recipe attributes" class="row bg-light shadow rounded p-3">
          <div class="row d-flex">
            <div class="col">
              <h6 class="align-middle">Serving-Qty :</h6>
              <p class="align-middle">{{ displayRecipeInfo.servingQty }}</p>
            </div>
            <div class="col">
              <h6 class="align-middle">Categories :</h6>
              <ul class="inline-list comma-separated mx-4">
                <li
                  *ngFor="let categ of appComponent.getMainCategoriesFor(displayRecipeInfo.categoriesForRecipe)" class="comma-separated"
                >
                  {{ categ.category.title }}
                </li>
              </ul>
            </div>
            <div class="col">
              <h6 class="align-middle">Sub-Categories :</h6>
              <ul class="inline-list comma-separated mx-4">
                <li
                  *ngFor="let categ of appComponent.getSubCategoriesFor(displayRecipeInfo.categoriesForRecipe)" class="comma-separated"
                >
                  {{ categ.category.title }}
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h6 class="align-middle">Shelf-Life :</h6>
              <p class="align-middle">{{ displayRecipeInfo.shelfLife }}</p>
            </div>
            <div class="col">
              <h6 class="align-middle">Prep-Time :</h6>
              <p class="align-middle">{{ displayRecipeInfo.prepTime }}</p>
            </div>
            <div class="col">
              <h6 class="align-middle">Instructions :</h6>
              <p class="align-middle">{{ displayRecipeInfo.instructions }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h6 class="align-middle">Rating :</h6>
              <p class="align-middle">{{ displayRecipeInfo.rating }}</p>
            </div>
            <div class="col">
              <h6 class="align-middle">Remarks :</h6>
              <p class="align-middle">{{ displayRecipeInfo.remarks }}</p>
            </div>
            <!--  <div class="col-md">
              <h6 class="align-middle">unit</h6>
              <p class="align-middle">{{displayRecipeInfo.unitDetailed.unit}}</p>
            </div>-->
            <div class="col">
              <h6 class="align-middle">Instructions :</h6>
              <p class="align-middle">{{ displayRecipeInfo.instructions }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h6 class="align-middle">Course :</h6>
              <p class="align-middle">{{ displayRecipeInfo.course }}</p>
            </div>
            <div class="col">
              <h6 class="align-middle">Cook-Time :</h6>
              <p class="align-middle">{{ displayRecipeInfo.cookTime }}</p>
            </div>
            <div class="col">
              <!--   <h6 class="align-middle">cookTime</h6>
              <p class="align-middle">{{displayRecipeInfo.cookTime}}</p> -->
            </div>
          </div>
          </div>

        <div title="Block of recipe's ingredients" class="row my-3 bg-light shadow rounded mx-5">
          <table class="table table-striped">
            <thead class="px-2">
              <tr>
                <th scope="col">Ingredients</th>
                <th scope="col">Quantity-Unit</th>
                <th scope="col">Category</th>
                <th scope="col">Per-Unit-Cost</th>
                <th scope="col">Unit</th>
                <th scope="col">Supplier</th>
                <th scope="col">Brand</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let ingredientInRecipe of displayRecipeInfo.ingredientInRecipe
                "
              >
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ ingredientInRecipe.ingredient.title }} </div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null">  (SR) {{ ingredientInRecipe.subRecipe.title }} </div>
                </td>
                <td class="text-center col">
                  {{ ingredientInRecipe.qty }}
                </td>
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ingredientInRecipe.
                    ingredient.categoriesForIngredient[0].category.title}}</div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null"> {{ingredientInRecipe.
                    subRecipe.categoriesForRecipe[0].category.title}}</div>
                </td>
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">  {{ ingredientInRecipe.ingredient.
                    brandForIngredients[0].perUnitCost }}</div>
                </td>
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ ingredientInRecipe.ingredient.unit }}</div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null"> {{ ingredientInRecipe.subRecipe.unit }}</div>
                </td>
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">
                  {{ ingredientInRecipe.supplier.title }}</div>
                </td>
                <td class="text-center col">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">
                    {{ ingredientInRecipe.brand.title }} </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div *ngIf="displayRecipeInfo.title!=null" title="Block of update button" class="d-flex align-items-end justify-content-end mx-5">
          <button class="btn btn-primary" type="button" (click)="onUpdate()">
            Update
          </button>
        </div>
      </div>

      <div title="Block of add or update recipe"
        class="bg-light shadow rounded p-3"
           [style.display]="!showRecipe ? 'block' : 'none'"
      >
        <form
          #addRecipeForm="ngForm"
          (ngSubmit)="addRecipes()"
          autocomplete="off"
          class="form-group"
          id="addRecipeForm"
        >

          <div title="Block of title">
          <label for="titleRecipe">*Title</label>
          <input
            #titleRecipe="ngModel"
            [(ngModel)]="addRecipe.recipe.title"
            appendTo="body"
            class="form-control  w-25"
            id="titleRecipe"
            name="titleRecipe"
            placeholder="Title is required"
            required
            type="text"
          />
          </div>

          <div title="Block of Ingredients">
          <label for="ingredientForRecipe" id="ingredientForRecipe1" class="mt-2"
            >Ingredient:</label
          >
          <ng-select
            (add)="addIngredients($event)"
            (remove)="removeIngredients($event)"
            [(ngModel)]="addRecipe.recipe.ingList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="ingredientForRecipe"
            name="ingredientForRecipe"
            (clear)="resetIngSelects();"
          >
            <ng-option
              *ngFor="let ing of appComponent.ingredients"
              [value]="ing"
              >{{ ing.title }}</ng-option
            >
          </ng-select>

          <table appendTo="body" class="table mt-2 table-hover table-bordered shadow-sm">
            <thead>
            <tr class="">
              <th scope="col" class="text-center">Title</th>
              <th scope="col"  class="text-center">Quantity</th>
              <th scope="col"  class="text-center">Price</th>
              <th scope="col"  class="text-center">Supplier</th>
              <th scope="col"  class="text-center">Brand</th>
              <th scope="col"  class="text-center">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let addIng of addIngMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
              appendTo="body"
            >
              <td>{{ addIng.value.ingredient.title }}</td>
              <td>
                <input
                  (input)="calculateIngCostForRecipe(addIng.value)"
                  (input)="changeRef(addIng.value)"
                  [(ngModel)]="addIng.value.qty"
                  appendTo="body"
                  class="form-control"
                  id="ingCont{{i}}"
                  name="ingCont{{i}}"
                  placeholder="Quantity"
                  required
                  type="text"
                />
              </td>
              <td class="price">
                {{
                  addIng.value.costTotal
                }}
              </td>
              <td>
                <ng-select
                  (change)="setSupplier($event, addIng.value.ingredient)"
                 [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="form-control"
                  id="supplierForIng{{i}}"
                  name="supplierForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient.supplierList[0]"
                >
                  <ng-option
                    *ngFor="
                      let supplierForIngredient of addIng.value.ingredient
                        .supplierForIngredients
                    "
                    [value]="supplierForIngredient"
                    >{{ supplierForIngredient.supplier.title }}</ng-option
                  >
                </ng-select>
              </td>
              <td>
                <ng-select
                  (change)="setBrand($event, addIng.value)"
                  [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="form-control"
                  id="brandForIng{{i}}"
                  name="brandForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient
                        .brandList[0]"
                >
                  <!-- [ngModel]="addIng.value.ingredient.brandForIngredients[0]"-->
                  <ng-option
                    *ngFor="
                      let brandForIngredient of addIng.value.ingredient
                        .brandForIngredients
                    "
                    [value]="brandForIngredient"
                    >{{ brandForIngredient.brand.title }}</ng-option
                  >
                </ng-select>
              </td>
              <td>
                <ng-select
                  (change)="setCategory($event, addIng.value.ingredient)"
                  [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="form-control"
                  id="categoriesForIng{{i}}"
                  name="categoryForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient
                        .catList[0]"
                >
                  <!-- [ngModel]="addIng.value.ingredient.categoriesForIngredient[0]"-->
                  <ng-option
                    *ngFor="
                      let categoryFor of addIng.value.ingredient
                        .categoriesForIngredient
                    "
                    [value]="categoryFor"
                    >{{ categoryFor.category.title }}</ng-option
                  >
                </ng-select>
              </td>
            </tr>
          </tbody>
          </table>

          </div>

          <div title="Block of Sub Recipes">
          <label for="subRecipeForRecipe" id="subRecipeForRecipe1" class="mt-2"
          >Recipe:</label
          >
          <ng-select
            (add)="addSubRecipes($event)"
            (remove)="removeSubRecipes($event)"
            [(ngModel)]="addRecipe.recipe.subRecipeList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="subRecipeForRecipe"
            name="subRecipeForRecipe"
            (clear)="resetSubRecipeSelects();"
          >
            <ng-option
              *ngFor="let recipe of skipCurrentRecipeFilter(appComponent.recipes)" [value]="recipe">
              {{ recipe.title }}</ng-option>
          </ng-select>
          <table appendTo="body" class="table mt-2 table-hover table-bordered shadow-sm">
            <thead>
            <tr class="">
              <th scope="col" class="text-center">Title</th>
              <th scope="col"  class="text-center">Quantity</th>
              <th scope="col"  class="text-center">Price</th>
              <th scope="col"  class="text-center">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let addRecipe of addSubRecipeMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
              appendTo="body"
            >
              <td>{{ addRecipe.value.subRecipe.title }}</td>
              <td>
                <input
                  (input)="calculateIngCostForRecipe(addRecipe.value)"
                  [(ngModel)]="addRecipe.value.qty"
                  appendTo="body"
                  class="form-control"
                  id="addRecipeCont{{i}}"
                  name="addRecipeCont{{i}}"
                  placeholder="Quantity"
                  required
                  type="text"
                />
              </td>
              <td class="price">
                {{
                addRecipe.value.costTotal
                }}
              </td>
              <td>{{addRecipe.value.subRecipe.categoriesForRecipe[0].category.title}}</td>
            </tr>
            </tbody>
          </table>

          </div>

          <div title="Block of total Cost">
            <b> Total Price - {{ totalCost }} </b>
          </div>

          <div class="row">
          <div class="col" title="Block of categoryForRecipe">
          <label for="categoryForRecipe" id="categoryForRecipe1" class=" mt-2">Category</label>
          <ng-select
            (add)="setCategories($event,false)"
            (remove)="removeCategories($event,false)"
            [(ngModel)]="addRecipe.recipe.catList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control w-50"
            id="categoryForRecipe"
            name="categoryForRecipe"
          >
            <ng-option
              *ngFor="let cat of appComponent.categoriesRecipe"
              [value]="cat"
              >{{ cat.title }}</ng-option
            >
          </ng-select>
          </div>


            <div class="col" title="Block of subCategoryForRecipe">
              <label for="subCategoryForRecipe" id="subCategoryForRecipe1" class=" mt-2">Sub Category</label>
              <ng-select
                (add)="setCategories($event,true)"
                (remove)="removeCategories($event,true)"
                [(ngModel)]="addRecipe.recipe.subCatList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="form-control w-50"
                id="subCategoryForRecipe"
                name="subCategoryForRecipe"
              >
                <ng-option
                  *ngFor="let cat of appComponent.getSubCategories(appComponent.categoriesRecipe)"
                  [value]="cat"
                >{{ cat.title }}</ng-option
                >
              </ng-select>
            </div>

          </div>


          <div class="row">
          <div class="col" title="Block of collectionRecipe">
          <label for="collectionRecipe" class=" mt-2">Collection</label>
          <input
            [(ngModel)]="addRecipe.recipe.collection"
            class="form-control w-50"
            id="collectionRecipe"
            name="collectionRecipe"
            placeholder="Enter collection"
            type="text"
          />
          </div>

          <div class="col" title="Block of courseRecipe">
          <label for="courseRecipe" class=" mt-2">Course</label>
          <input
            [(ngModel)]="addRecipe.recipe.course"
            class="form-control w-50"
            id="courseRecipe"
            name="courseRecipe"
            placeholder="Enter course"
            type="text"
          />
          </div>
          </div>

          <div class="row">
          <div  class="col" title="Block of sourceRecipe">
          <label for="sourceRecipe" class=" mt-2">Source</label>
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor
              id="sourceRecipe"
              [editor]="editor"
              [(ngModel)]="addRecipe.recipe.source"
              [disabled]="false"
              data-bs-target="#myModal"
              data-bs-toggle="modal"
            ></ngx-editor>


    <!--        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Enter Text</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <input type="text" class="form-control" id="inputText">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>-->

          </div>

          <div class="col" title="Block of sourceURLRecipe">
            <label for="sourceURLRecipe" class=" mt-2">Source URL</label>
            <input
              [(ngModel)]="addRecipe.recipe.sourceURL"
              class="form-control w-50"
              id="sourceURLRecipe"
              name="sourceURLRecipe"
              placeholder="Enter source URL"
              type="text"
            />
          </div>
          </div>

          <div class="row">
            <div  class="col" title="Block of methodRecipe">
              <label for="methodRecipe" class=" mt-2">Method</label>
              <ngx-editor-menu [editor]="editor1" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor
                id="methodRecipe"
                [editor]="editor1"
                [(ngModel)]="addRecipe.recipe.method"
                [disabled]="false"
              ></ngx-editor>
            </div>

            <div  class="col" title="Block of notesRecipe">
              <label for="notesRecipe" class=" mt-2">Notes</label>
              <ngx-editor-menu [editor]="editor2" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor
                id="notesRecipe"
                [editor]="editor2"
                [(ngModel)]="addRecipe.recipe.notes"
                [disabled]="false"
              ></ngx-editor>
            </div>
          </div>

          <div title="Block of servingQty">
          <label for="servingQty" class=" mt-2">Serving Qty</label>
          <div class="input-group w-25" >
          <input
            [(ngModel)]="addRecipe.recipe.servingQty"
            class="form-control w-70"
            id="servingQty"
            name="servingQty"
            placeholder="Enter servingQty"
            type="text"
            (input)="adjustIng()"
          />


            <div  class="mx-1 w-20 form-check">
              <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="adjustinput"
                     [checked]="enableAdj"
                     (change)="fixAndEnableAdjusting($event)">
              <label class="form-check-label" for="flexCheckDefault">
                Allow Adjusting with base <i>{{this.addRecipe.recipe.refServingQty}} </i>
              </label>
            </div>
          </div>
          </div>

          <!--   <label for="unitListRec">Units:</label>
             <select [(ngModel)]="addRecipe.recipe.unit" class="form-control" id="unitListRec"
                     name="unitListRec">
               <optgroup [attr.label]="group.key" *ngFor="let group of appComponent.appConfiguration.unitsDetailed | keyvalue">
                 <option *ngFor="let unitDetailed of group.value" value="{{unitDetailed.unit}}">{{unitDetailed.unit}}
                   ({{unitDetailed.description}})</option>
               </optgroup>
             </select>-->

          <p></p>

          <div title="Block of submit button" class="d-flex align-items-end justify-content-end">
          <button
            [disabled]="!addRecipeForm.form.valid"
            class="btn btn-primary  float-right"
            type="submit"
          >
            Submit
          </button>
        </div>

        </form>
      </div>

    </div>

  </div>
</div>
