<div>
  <div class="row ">
    <div class=" col-xl-35 col-lg-4 h-100">
      <div class="card pt-2 ">
        <div class="card-header-no-border-bottom ">
          <div class="row align-items-center">
            <div class="col-7 header-title align-items-center">
                <h5  for="searchRecipe" id="searchRecipe1" class="card-title text-dark">Search Recipe</h5>
            </div>
            <div class="col-5 align-items-center">

              <div class="container align-items-center me-n5">
                <a class="btn btn-icon btn-link1">
                   <span
                     (click)="refresh(false,false,true)"
                     class="btn-inner btn-link1"
                     type="submit"
                   >
                          +
                        </span>
                </a>
                <a class=" dropdown">
                      <span class="btn btn-icon btn-sm btn-inner btn-link1 ">
                      <small aria-expanded="true" class="" data-bs-toggle="dropdown" id="dropdownMenuButton8"
                             role="button">
                        <svg class="bi bi-three-dots-vertical" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                      </small>

                    <ul aria-labelledby="dropdownMenuButton7" class="dropdown-menu dropdown-menu-end ">

                <li *ngIf="displayRecipeInfo.title==null"
                    [ngClass]="displayRecipeInfo.title!=null ? 'enabled' : 'disabled'" class="dropdown-item">Update
                  (select any recipe)</li>
                <li
                  *ngIf="displayRecipeInfo.title!=null"><a class="dropdown-item" (click)="onUpdate()">
                  Update</a></li>
                <li *ngIf="displayRecipeInfo.title==null"
                    [ngClass]="displayRecipeInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Remove
                  (select any recipe)</a></li>
                <li
                  *ngIf="displayRecipeInfo.title!=null"><a class="dropdown-item" (click)="remove()">Remove</a></li>
                <li><a class="dropdown-item" (click)="sortRecipes('alphabetically')">
                  Group by Alphabetically</a>
                </li>
                <li><a class="dropdown-item" (click)="sortRecipes('category')">Group by Category</a></li>
                <li><a class="dropdown-item" (click)="exportRecipes()">Export</a></li>
                <li><a class="dropdown-item" (click)="importRecipes()">Import</a></li>

                    </ul>
                           </span>


                </a>

              </div>

            </div>


          </div>

          <div class="row align-items-center  mx-1 pe-3 pt-3">

          <ng-select
            (change)="getRecipe($event)"
            [multiple]="false"
            [searchable]="true"
            appendTo="body"
            class=" form-control"
            id="searchRecipe"
          >
            <ng-option
              *ngFor="let recipe of appComponent.recipes"
              [value]="recipe"
              >{{ recipe.title }}</ng-option
            >
          </ng-select>

        </div>
          <div class="border-bottom border-1 mx-3 py-2  ms-2">
          </div>
      </div>


        <div class=" card-body ">
        <div *ngIf="sortRecipesBy=='category'" class="">
        <ul
          *ngFor="let mapCategFoRecip of appComponent.categoryRecipeMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
          class="bd-example list-group overflow-auto list-group-flush"
        >
          <li class="list-group-item ">
            <span class="badge bg-secondary">{{ mapCategFoRecip.key }}</span>
            <ul
              *ngFor="let recip of mapCategFoRecip.value"
              class="list-group list-group-flush ">
              <li  (click)="getRecipe(recip)"
                   class="list-group-item list-group-item-action  d-flex align-items-center rounded-pill ms-3 h-2">
                <h6 class="btn btn-link1 d-flex align-items-center  h-2  ">{{recip.title}}</h6>
              </li>
            </ul>
          </li>
          <li class="dropdown-divider"></li>
        </ul>
      </div>

      <!--by alphabetically-->
      <div *ngIf="sortRecipesBy=='alphabetically'" class="row  ps-3 mt-3 w-75 overflow-auto">
        <ul
          *ngFor="let recipe of appComponent.recipes |  sortByOrder:'title'"
          class="bd-example list-group list-group-flush "
        >
          <li
            (click)="getRecipe(recipe)"
            class="list-group-item list-group-item-action d-flex align-items-center rounded-pill ms-3 h-2"
          >
            <h6 class="btn btn-link1 d-flex align-items-center  h-2  ">{{ recipe.title }}</h6>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xl-85 col-lg-8">
    <div *ngIf="showRecipe" class="card">

      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">{{displayRecipeInfo.title}}</h4>
        </div>
      </div>


      <div class="card-body ms-3">
          <div class="row">
            <div class="col">
              <p class="d-flex align-middle">Serving-Qty :
                <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.servingQty }}</span></p>
            </div>
            <div class="col">

              <p class="d-flex align-middle">Categories :
                <span>
              <ul class="d-flex align-middle  text-warning inline-list comma-separated  text-warning mx-3">
                <li
                  *ngFor="let categ of appComponent.getMainCategoriesFor(displayRecipeInfo.categoriesForRecipe)" class="comma-separated"
                >
                  {{ categ.category.title }}
                </li>
              </ul>
              </span>
              </p>
            </div>
            <div class="col">
              <p class="d-flex align-middle">Sub-Categories :
              <span>
              <ul class="d-flex inline-list text-warning comma-separated text-warning  mx-3">
                <li
                  *ngFor="let categ of appComponent.getSubCategoriesFor(displayRecipeInfo.categoriesForRecipe)" class="comma-separated"
                >
                  {{ categ.category.title }}
                </li>
              </ul>
              </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="d-flex align-middle">Shelf-Life :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.shelfLife }}</span></p>
            </div>
            <div class="col">
              <p class="d-flexa lign-middle">Prep-Time :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.prepTime }}</span></p>
            </div>
            <div class="col">
              <p class="d-flex align-middle">Instructions :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.instructions }}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="d-flex align-middle">Rating :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.rating }}</span></p>
            </div>
            <div class="col">
              <p class="d-flex align-middle">Remarks :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.remarks }}</span></p>
            </div>
            <!--  <div class="col-md">
              <h6 class="align-middle">unit</h6>
              <p class="align-middle">{{displayRecipeInfo.unitDetailed.unit}}</p>
            </div>-->
            <div class="col">
              <p class="d-flex align-middle">Unit :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.unit }}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="d-flex align-middle">Course :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.course }}</span></p>
            </div>
            <div class="col">
              <p class="d-flex align-middle">Cook-Time :
              <span class="d-flex align-middle text-warning mx-3">{{ displayRecipeInfo.cookTime }}</span></p>
            </div>
            <div class="col">
              <!--   <h6 class="align-middle">cookTime</h6>
              <p class="align-middle">{{displayRecipeInfo.cookTime}}</p> -->
            </div>
          </div>


          <div class="bd-example table-responsive mt-2 mx-1 pe-1">
          <table class="table table-bordered">
            <thead class="">
              <tr>
                <th scope="col" class="text-secondary align-middle">Ingredients</th>
                <th scope="col" class="text-secondary align-middle">Quantity-Unit</th>
                <th scope="col" class="text-secondary align-middle">Category</th>
                <th scope="col" class="text-secondary align-middle">Per-Unit-Cost</th>
                <th scope="col" class="text-secondary align-middle">Unit</th>
                <th scope="col" class="text-secondary align-middle">Supplier</th>
                <th scope="col" class="text-secondary align-middle">Brand</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let ingredientInRecipe of displayRecipeInfo.ingredientInRecipe
                "
              >
                <th scope="row" class="text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ ingredientInRecipe.ingredient.title }} </div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null">  (SR) {{ ingredientInRecipe.subRecipe.title }} </div>
                </th>
                <td class="text-center text-warning">
                  {{ ingredientInRecipe.qty }}
                </td>
                <td class="text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ingredientInRecipe.
                    ingredient.categoriesForIngredient[0].category.title}}</div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null"> {{ingredientInRecipe.
                    subRecipe.categoriesForRecipe[0].category.title}}</div>
                </td>
                <td class="text-center text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">  {{ (ingredientInRecipe.ingredient.
                    brandForIngredients[0].perUnitCost) | number:'1.2-2'}}</div>
                </td>
                <td class="text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null"> {{ ingredientInRecipe.ingredient.unit }}</div>
                  <div *ngIf="ingredientInRecipe.subRecipe!=null"> {{ ingredientInRecipe.subRecipe.unit }}</div>
                </td>
                <td class="text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">
                  {{ ingredientInRecipe.supplier.title }}</div>
                </td>
                <td class="text-warning">
                  <div *ngIf="ingredientInRecipe.ingredient!=null">
                    {{ ingredientInRecipe.brand.title }} </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


          <button *ngIf="displayRecipeInfo.title!=null" title="Block of update button" class="btn btn-outline-primary rounded-pill d-flex ms-auto mt-3" type="button" (click)="onUpdate()">
            Update
          </button>

    </div>
    </div>


    <div
      *ngIf="!showRecipe"
      class="card"
    >
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">Add New Recipe</h4>
        </div>
      </div>
        <div class="card-body">
        <form
          #addRecipeForm="ngForm"
          (ngSubmit)="addRecipes()"
          autocomplete="off"
          class="form-group"
          id="addRecipeForm"
        >


          <label for="titleRecipe" class="form-label">*Title</label>
          <input
            #titleRecipe="ngModel"
            [(ngModel)]="addRecipe.recipe.title"
            appendTo="body"
            class=" form-control  w-25"
            id="titleRecipe"
            name="titleRecipe"
            placeholder="Title is required"
            required
            type="text"
          />


          <label for="ingredientForRecipe" id="ingredientForRecipe1" class="mt-2 form-label"
            >Ingredient:</label
          >
          <ng-select
            (add)="addIngredients($event)"
            (remove)="removeIngredients($event)"
            [(ngModel)]="addRecipe.recipe.ingList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="text-secondary form-control"
            id="ingredientForRecipe"
            name="ingredientForRecipe"
            (clear)="resetIngSelects();"
          >
            <ng-option
              *ngFor="let ing of appComponent.ingredients"
              [value]="ing"
              >{{ ing.title }}</ng-option
            >
          </ng-select>

          <div class="bd-example table-responsive mt-2 mx-1 pe-1">
          <table appendTo="body" class="table table-bordered">
            <thead>
            <tr class="">
              <th scope="col" class="text-secondary align-middle">Title</th>
              <th scope="col" class="text-secondary align-middle">Quantity</th>
              <th scope="col" class="text-secondary align-middle">Price</th>
              <th scope="col" class="text-secondary align-middle">Supplier</th>
              <th scope="col" class="text-secondary align-middle">Brand</th>
              <th scope="col" class="text-secondary align-middle">Category</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let addIng of addIngMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
              appendTo="body"
            >
              <th scope="row" class="text-secondary">{{ addIng.value.ingredient.title }}</th>
              <td>
                <input
                  (input)="calculateIngCostForRecipe(addIng.value)"
                  (input)="changeRef(addIng.value)"
                  [(ngModel)]="addIng.value.qty"
                  appendTo="body"
                  class="form-control"
                  id="ingCont{{i}}"
                  name="ingCont{{i}}"
                  placeholder="Quantity"
                  required
                  type="text"
                />
              </td>
              <td class="text-secondary price">
                {{
                  addIng.value.costTotal
                }}
              </td>
              <td>
                <ng-select
                  (change)="setSupplier($event, addIng.value.ingredient)"
                 [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="text-secondary form-control"
                  id="supplierForIng{{i}}"
                  name="supplierForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient.supplierList[0]"
                >
                  <ng-option
                    *ngFor="
                      let supplierForIngredient of addIng.value.ingredient
                        .supplierForIngredients
                    "
                    [value]="supplierForIngredient"
                    >{{ supplierForIngredient.supplier.title }}</ng-option
                  >
                </ng-select>
              </td>
              <td>
                <ng-select
                  (change)="setBrand($event, addIng.value)"
                  [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="text-secondary form-control"
                  id="brandForIng{{i}}"
                  name="brandForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient
                        .brandList[0]"
                >
                  <!-- [ngModel]="addIng.value.ingredient.brandForIngredients[0]"-->
                  <ng-option
                    *ngFor="
                      let brandForIngredient of addIng.value.ingredient
                        .brandForIngredients
                    "
                    [value]="brandForIngredient"
                    >{{ brandForIngredient.brand.title }}</ng-option
                  >
                </ng-select>
              </td>
              <td>
                <ng-select
                  (change)="setCategory($event, addIng.value.ingredient)"
                  [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="text-secondary form-control"
                  id="categoriesForIng{{i}}"
                  name="categoryForIng{{i}}"
                  [(ngModel)]="addIng.value.ingredient
                        .catList[0]"
                >
                  <!-- [ngModel]="addIng.value.ingredient.categoriesForIngredient[0]"-->
                  <ng-option
                    *ngFor="
                      let categoryFor of addIng.value.ingredient
                        .categoriesForIngredient
                    "
                    [value]="categoryFor"
                    >{{ categoryFor.category.title }}</ng-option
                  >
                </ng-select>
              </td>
            </tr>
          </tbody>
          </table>
          </div>


          <label for="subRecipeForRecipe" id="subRecipeForRecipe1" class="mt-2 form-label"
          >Sub Recipe:</label
          >
          <ng-select
            (add)="addSubRecipes($event)"
            (remove)="removeSubRecipes($event)"
            [(ngModel)]="addRecipe.recipe.subRecipeList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class=" form-control "
            id="subRecipeForRecipe"
            name="subRecipeForRecipe"
            (clear)="resetSubRecipeSelects();"
          >
            <ng-option
              *ngFor="let recipe of skipCurrentRecipeFilter(appComponent.recipes)" [value]="recipe">
              {{ recipe.title }}
            </ng-option>
          </ng-select>
            <div class="bd-example table-responsive mt-2 mx-1 pe-1">
              <table appendTo="body" class="table  table-bordered">
                <thead>
                <tr class="">
                  <th scope="col" class="text-secondary align-middle">Title</th>
                  <th scope="col"  class="text-secondary align-middle">Quantity</th>
                  <th scope="col"  class="text-secondary align-middle">Price</th>
                  <th scope="col"  class="text-secondary align-middle">Category</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let addRecipe of addSubRecipeMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
                  appendTo="body"
                >
                  <td class="text-secondary">{{ addRecipe.value.subRecipe.title }}</td>
                  <td>
                    <input
                      (input)="calculateIngCostForRecipe(addRecipe.value)"
                      [(ngModel)]="addRecipe.value.qty"
                      appendTo="body"
                      class=" form-control"
                      id="addRecipeCont{{i}}"
                      name="addRecipeCont{{i}}"
                      placeholder="Quantity"
                      required
                      type="text"
                    />
                  </td>
                  <td class="text-secondary price">
                    {{
                    addRecipe.value.costTotal
                    }}
                  </td>
                  <td class="text-secondary">{{addRecipe.value.subRecipe.categoriesForRecipe[0].category.title}}</td>
                </tr>
                </tbody>
              </table>
            </div>



            <b> Total Price - {{ totalCost }} </b>


          <div class="row">
          <div class="col">
          <label for="categoryForRecipe" id="categoryForRecipe1" class="form-label mt-2">Category</label>
          <ng-select
            (add)="setCategories($event,false)"
            (remove)="removeCategories($event,false)"
            [(ngModel)]="addRecipe.recipe.catList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="text-secondary form-control w-50"
            id="categoryForRecipe"
            name="categoryForRecipe"
          >
            <ng-option
              *ngFor="let cat of appComponent.categoriesRecipe"
              [value]="cat"
              >{{ cat.title }}</ng-option
            >
          </ng-select>
          </div>

            <div class="col">

              <label for="subCategoryForRecipe" id="subCategoryForRecipe1" class="form-label mt-2">Sub Category</label>
              <ng-select
                (add)="setCategories($event,true)"
                (remove)="removeCategories($event,true)"
                [(ngModel)]="addRecipe.recipe.subCatList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="text-secondary form-control w-50"
                id="subCategoryForRecipe"
                name="subCategoryForRecipe"
              >
                <ng-option
                  *ngFor="let cat of appComponent.getSubCategories(appComponent.categoriesRecipe)"
                  [value]="cat"
                >{{ cat.title }}</ng-option
                >
              </ng-select>
            </div>
          </div>


          <div class="row">
          <div class="col" >
          <label for="collectionRecipe" class="form-label mt-2">Collection</label>
          <input
            [(ngModel)]="addRecipe.recipe.collection"
            class="text-secondary form-control w-50"
            id="collectionRecipe"
            name="collectionRecipe"
            placeholder="Enter collection"
            type="text"
          />
          </div>

          <div class="col" >
          <label for="courseRecipe" class="form-label mt-2">Course</label>
          <input
            [(ngModel)]="addRecipe.recipe.course"
            class=" form-control w-50"
            id="courseRecipe"
            name="courseRecipe"
            placeholder="Enter course"
            type="text"
          />
          </div>
          </div>

          <div class="row">
          <div  class="col" >
          <label for="sourceRecipe" class="form-label mt-2">Source</label>
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor
              id="sourceRecipe"
              [editor]="editor"
              [(ngModel)]="addRecipe.recipe.source"
              [disabled]="false"
              data-bs-target="#myModal"
              data-bs-toggle="modal"
              class="text-secondary"
            ></ngx-editor>


    <!--        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Enter Text</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <input type="text" class="form-control" id="inputText">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>-->

          </div>

          <div class="col" >
            <label for="sourceURLRecipe" class="form-label mt-2">Source URL</label>
            <input
              [(ngModel)]="addRecipe.recipe.sourceURL"
              class=" form-control w-50"
              id="sourceURLRecipe"
              name="sourceURLRecipe"
              placeholder="Enter source URL"
              type="text"
            />
          </div>
          </div>

          <div class="row">
            <div  class="col" title="Block of methodRecipe">
              <label for="methodRecipe" class="form-label mt-2">Method</label>
              <ngx-editor-menu [editor]="editor1" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor
                id="methodRecipe"
                [editor]="editor1"
                [(ngModel)]="addRecipe.recipe.method"
                [disabled]="false"
              ></ngx-editor>
            </div>

            <div  class="col" title="Block of notesRecipe">
              <label for="notesRecipe" class="form-label mt-2">Notes</label>
              <ngx-editor-menu [editor]="editor2" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor
                id="notesRecipe"
                [editor]="editor2"
                [(ngModel)]="addRecipe.recipe.notes"
                [disabled]="false"
              ></ngx-editor>
            </div>
          </div>


          <label for="servingQty" class="form-label mt-2">Serving Qty</label>
          <div class="input-group w-25" >
          <input
            [(ngModel)]="addRecipe.recipe.servingQty"
            class="rounded-pill form-control w-70"
            id="servingQty"
            name="servingQty"
            placeholder="Enter servingQty"
            type="text"
            (input)="adjustIng()"
          />


            <div  class="mx-1 w-20 form-check">
              <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="adjustinput"
                     [checked]="enableAdj"
                     (change)="fixAndEnableAdjusting($event)">
              <label class="form-check-label" for="flexCheckDefault">
                Allow Adjusting with base <i>{{this.addRecipe.recipe.refServingQty}} </i>
              </label>
            </div>
          </div>


          <!--   <label for="unitListRec">Units:</label>
             <select [(ngModel)]="addRecipe.recipe.unit" class="form-control" id="unitListRec"
                     name="unitListRec">
               <optgroup [attr.label]="group.key" *ngFor="let group of appComponent.appConfiguration.unitsDetailed | keyvalue">
                 <option *ngFor="let unitDetailed of group.value" value="{{unitDetailed.unit}}">{{unitDetailed.unit}}
                   ({{unitDetailed.description}})</option>
               </optgroup>
             </select>-->

          <button  [disabled]="!addRecipeForm.form.valid"  class="btn btn-outline-primary rounded-pill d-flex ms-auto mt-3" type="submit">
            Submit
          </button>

        </form>
      </div>

    </div>

  </div>
</div>
</div>
