
<div>
  <form class="form-group"  #addRecipeForm="ngForm" (ngSubmit)="addRecipes(addRecipeForm)" >
    <label for="titleRecipe">*Title</label>
    <input #titleRecipe="ngModel" [(ngModel)]="recipe.title" class="form-control" id="titleRecipe"
           name="titleRecipe"
           placeholder="Title is required" required type="text" appendTo="body">

    <label for="ingredientListForRecipe">Ingredient:</label>

    <ng-select id="ingredientListForRecipe"  name="ingredientListForRecipe"
               [multiple]="true"
               (change)="setIngComps($event)"
               [searchable]="true" class="form-control" appendTo="body">
      <ng-option *ngFor="let ing of appComponent.ingredientList" [value]="ing">{{ing.title}}</ng-option>
    </ng-select>

    <ul *ngFor="let addIngComp of ingCompMap | keyvalue;let i = index;" appendTo="body" >
    <li>
      <small> {{addIngComp.value.title}} - {{addIngComp.value.perUnitCost}} </small>
      <input [(ngModel)]="addIngComp.value.quantityUnit" (change)="calculateCost()"  class="form-control"
             id="ingCont" name="ingCont" placeholder="Quantity" required type="text" appendTo="body">
      </li>
    </ul>

    <label for="categoryRecipe">Category</label>
    <input [(ngModel)]="recipe.category" class="form-control" id="categoryRecipe" name="categoryRecipe"
           placeholder="Enter category"
           type="text">
    <label for="subCatRecipe">Sub category</label>
    <input [(ngModel)]="recipe.subCategory" class="form-control" id="subCatRecipe" name="subCatRecipe"
           placeholder="Enter sub category"
           type="text">
    <label for="courseRecipe">Course</label>
    <input [(ngModel)]="recipe.course" class="form-control" id="courseRecipe" name="courseRecipe" placeholder="Enter course"
           type="text">

    <div>
    Total Price - {{totalCost}}
    </div>

    <button [disabled]="!addRecipeForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
