<!--
<p>ingredient works!</p>
-->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Your Logo</a>
      <!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">sdfdsa</span>
          </button>-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav ms-auto"
        >
          <li class="nav-item">
            <a
              class="nav-link align-middle px-0"
              href="#"
              [routerLink]="RouterPaths.HOME"
            >
              <!-- <i class="fs-4 bi-house" ></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Home</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/ingredient'"
            >
              <!--   <i class="fs-4 bi-speedometer2" ></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Add Ingredient</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle bg-dark"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/recipe'"
            >
              <!--<i class="fs-4 bi-speedometer2" *ngIf="!sidebarExpanded"></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Add Recipe</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-0 align-middle"
              data-bs-toggle="collapse"
              href="#submenu1"
              [routerLink]="'/auth'"
            >
              <!-- <i class="fs-4 bi-speedometer2" *ngIf="!sidebarExpanded"></i>-->
              <span class="ms-1 d-none d-sm-inline text-secondary">Authenticate</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="row my-4">
    <div class="col-2 bg-light shadow rounded">
      <div class="row gx-1">
        <div class="col-md-10">
          <div class="row">
            <label class="col" for="searchIng" id="searchIng1">Search Ingredient</label>
            <div class="col ">
              <button
                (click)="refresh(false,false,false)"
                class="btn btn-primary"
                type="submit"
              >
                +
              </button>
            </div>
          </div>

          <ng-select
            (change)="getIngredient($event)"
            [multiple]="false"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="searchIng"
          >
            <ng-option
              *ngFor="let ing of appComponent.ingredients"
              [value]="ing"
            >{{ ing.title }}
            </ng-option
            >
          </ng-select>
        </div>

      </div>

      <div class="row d-flex ps-3 mt-3 main">
        <ui
          *ngFor="let ing of appComponent.ingredients"
          class="list-group w-75"
        >
          <button
            (click)="getIngredient(ing)"
            class="list-group-item list-group-item-action"
            type="button"
          >
            {{ ing.title }}
          </button>
        </ui>
      </div>
    </div>

    <div class="col mx-3 my-1">
      <div class="" *ngIf="showIng">

        <div class="row bg-light shadow rounded p-3">
          <div class="row d-flex">
            <h6 class="align-middle col-auto">Unit :</h6>
            <p class="align-middle col-auto">{{ displayIngInfo.unit }}</p>
          </div>
          <div class="row d-flex">
            <h6 class="align-middle col-auto">GST :</h6>
            <p class="align-middle col-auto">{{ displayIngInfo.gst }}</p>
          </div>
          <div class="row ">
            <p class="align-middle col-auto fw-bold">Minimum inventory :</p>
            <p class="align-middle col-auto ">{{ displayIngInfo.minimumInventory }}</p>
          </div>


          <div class="container">
            <h6 class="align-middle">Categories :</h6>
            <ul class="inline-list comma-separated mx-4">
              <li
                *ngFor="let categ of displayIngInfo.categoriesForIngredient" class="comma-separated"
              >
                {{ categ.category.title }}
              </li>
            </ul>
          </div>

          <div class="container">
            <h6 class="align-middle">Supplier :</h6>
            <ul class="inline-list comma-separated mx-4">
              <li
                *ngFor="let supp of displayIngInfo.supplierForIngredients" class="comma-separated"
              >
                {{ supp.supplier.title }}
              </li>
            </ul>
          </div>


          <div class="container">
            <h6 class="align-middle">Brand :</h6>
            <ul class=" mx-4">
              <li
                *ngFor="let bra of displayIngInfo.brandForIngredients" class=""
              >
                <p> {{ bra.brand.title }} </p>
                <br/>

                <div class="row">
                  <div class="col">
                    <p class="align-middle col-auto"> SKU/MRP cost : {{ bra.skuCost }} </p>
                  </div>
                  <div class="col ">
                    <p class="align-middle col-auto"> SKU qty : {{ bra.skuQty }} </p>
                  </div>
                  <div class="col ">
                    <p class="align-middle col-auto "> Per unit cost (excluding GST) : {{ bra.perUnitCost }} </p>
                  </div>
                </div>

                <br/>
                <div class="row">
                  <div class="col ">
                    <h6 class="align-middle col-auto">Per unit cost (including
                      GST) : {{ bra.perUnitCost * (1 + (this.displayIngInfo.gst) / 100) }}</h6>
                  </div>
                  <div class="col ">
                    <h6 class="align-middle col-auto"> SKU/MRP cost (including
                      GST) : {{ bra.skuCost * (1 + (this.displayIngInfo.gst) / 100) }}</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <div *ngIf="displayIngInfo.title!=null" class="d-flex align-items-end justify-content-end mx-5">
          <button class="btn btn-primary" type="button" (click)="onUpdate()">
            Update
          </button>
        </div>
      </div>


      <div
        class="bg-light shadow rounded p-3"
        *ngIf="!showIng"
      >
        <form
          #addIngForm="ngForm"
          (ngSubmit)="addIngredients()"
          autocomplete="off"
          class="form-group"
          id="addIngForm"
        >
          <label for="titleIng">*Title</label>
          <input
            #titleIng="ngModel"
            [(ngModel)]="addIngredient.ingredient.title"
            class="form-control w-25"
            id="titleIng"
            name="titleIng"
            placeholder="Title is required"
            required
            type="text"
          />
          <label for="categoryForIng" id="categoryForIng1" class="mt-2"
          >Category</label
          >
          <ng-select
            (add)="setCategories($event)"
            (remove)="removeCategories($event)"
            [(ngModel)]="addIngredient.ingredient.catList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="categoryForIng"
            name="categoryForIng"
          >
            <ng-option
              *ngFor="let cat of appComponent.categoriesIngredient"
              [value]="cat"
            >{{ cat.title }}
            </ng-option
            >
          </ng-select>

          <label for="supplierForIng" id="supplierForIng1" class="mt-2"
          >Supplier</label
          >
          <ng-select
            (add)="setSuppliers($event)"
            (remove)="removeSuppliers($event)"
            [(ngModel)]="addIngredient.ingredient.supplierList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="supplierForIng"
            name="supplierForIng"
          >
            <ng-option
              *ngFor="let sup of appComponent.suppliers"
              [value]="sup"
            >{{ sup.title }}
            </ng-option
            >
          </ng-select>

          <label for="brandForIng" id="brandForIng1" class="mt-2">Brand</label>
          <ng-select
            (add)="setBrands($event)"
            (remove)="removeBrands($event)"
            [(ngModel)]="addIngredient.ingredient.brandList"
            [addTag]="true"
            [multiple]="true"
            [searchable]="true"
            appendTo="body"
            class="form-control"
            id="brandForIng"
            name="brandForIng"
            #filterWith
          >
            <ng-option
              *ngFor="let brand of appComponent.brands"
              [value]="brand"
            >{{ brand.title }}
            </ng-option
            >
          </ng-select>

          <ul>
            <li
              *ngFor="
                let addBrandForIng of this.addIngredient.ingredient
                  .brandForIngredients;  let i=index;
                trackBy: this.appComponent.trackByIndex
              "
            >
              {{ addBrandForIng.brand.title }}
              <br/>

              <div class="input-group mt-2">
                <span class="input-group-text">SKU/MRP cost</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="sku Cost"
                  aria-label="sku Cost"
                  (input)="calculatePerUnitCost(addBrandForIng)"
                  [(ngModel)]="addBrandForIng.skuCost"
                  id="skuCostIng{{i}}"
                  name="skuCostIng{{i}}"
                />
                <span class="input-group-text">SKU qty</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="sku Qty"
                  aria-label="sku Qty"
                  (input)="calculatePerUnitCost(addBrandForIng)"
                  [(ngModel)]="addBrandForIng.skuQty"
                  class="form-control"
                  id="skuQty{{i}}"
                  name="skuQty{{i}}"
                />
              </div>
              <p class=" small"> SKU/MRP cost (including
                GST)- {{ addBrandForIng.skuCost * (1 + (this.addIngredient.ingredient.gst) / 100) }} </p>

              <div class="row">
                <p class="small col-6"> Per unit cost (excluding GST)- {{ addBrandForIng.perUnitCost }} </p>
                <p class="small col-6"> Per unit cost (including
                  GST)- {{ addBrandForIng.perUnitCost * (1 + (this.addIngredient.ingredient.gst) / 100) }} </p>
              </div>

            </li>
          </ul>

          <label for="unitListIng" class="">Units:</label>
          <select
            [(ngModel)]="addIngredient.ingredient.unit"
            class="form-control w-25"
            id="unitListIng"
            name="unitListIng"
          >
            <optgroup
              *ngFor="
                let group of appComponent.appConfiguration.unitsDetailed
                  | keyvalue
              "
              [attr.label]="group.key"
            >
              <option
                *ngFor="let unitDetailed of group.value"
                value="{{ unitDetailed.unit }}"
              >
                {{ unitDetailed.unit }} ({{ unitDetailed.description }})
              </option>
            </optgroup>
          </select>

          <label for="gstIng">GST %</label>
          <input
            #titleIng="ngModel"
            [(ngModel)]="addIngredient.ingredient.gst"
            class="form-control w-25"
            id="gstIng"
            name="gstIng"
            type="text"
          />


          <label for="minInvent">Minimum inventory</label>
          <input
            #titleIng="ngModel"
            [(ngModel)]="addIngredient.ingredient.minimumInventory"
            class="form-control w-25"
            id="minInvent"
            name="minInvent"
            type="text"
          />


          <input (change)="onFileUpload($event)" type="file" class="mt-3"/>
          <img
            *ngIf="imageSrc"
            [src]="imageSrc || 'http://placehold.it/180'"
            alt="your image"
            id="blah"
            style="width: 45px; height: 45px"
          />

          <p></p>
          <div class="d-flex align-items-end justify-content-end">
            <button
              [disabled]="!addIngForm.form.valid"
              class="btn btn-primary"
              type="submit"
            >
              Submit
            </button>
          </div>
          <p class="text-center small">Last updated on : {{ addIngredient.ingredient.modifiedTs }}</p>
        </form>
      </div>

    </div>
  </div>
</div>

