<div>
  <div class="row">
    <div class=" col-xl-35 col-lg-4 ">
      <div class="card pt-2">

    <!--    <div class="card-header d-flex justify-content-between">
          <div class="header-title">
          &lt;!&ndash;  <h4 class="card-title">Search Ingredients</h4>
&ndash;&gt;
            <div class="row mt-3 ps-1 me-1">

              <div class="col-8 ">
                <h5  class="card-title" for="searchIng" id="searchIng1">Search Ingredient</h5>
              </div>
              <div class="col-4 ">

                <div class="btn-group">

                  <button
                    (click)="refresh(false,false,false)"
                    class="btn btn-primary"
                    type="submit"
                  >
                    +
                  </button>
                  <div class="ms-auto btn-group dropstart">
                    <button aria-expanded="false" class="btn dropdown-toggle border-0 bg-transparent shadow-none" data-bs-toggle="dropdown"
                            type="button">
                      &lt;!&ndash;<i class="fa fa-ellipsis-v"  aria-hidden="true"></i>&ndash;&gt;
                      <i class="bi bi-three-dots-vertical " aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li *ngIf="displayIngInfo.title==null"
                          [ngClass]="displayIngInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Update
                        (select any ingredient)</a></li>
                      <li
                        *ngIf="displayIngInfo.title!=null"><a (click)="onUpdate()" class="dropdown-item">Update</a></li>
                      <li *ngIf="displayIngInfo.title==null"
                          [ngClass]="displayIngInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Remove
                        (select any ingredient)</a></li>
                      <li
                        *ngIf="displayIngInfo.title!=null"><a (click)="remove()" class="dropdown-item">Remove</a></li>
                      &lt;!&ndash; <li><hr class="dropdown-divider"></li>&ndash;&gt;
                      <li><a (click)="sortIngredients('alphabetically')" class="dropdown-item">Group by Alphabetically</a>
                      </li>
                      &lt;!&ndash; <li><hr class="dropdown-divider"></li>&ndash;&gt;
                      <li><a (click)="sortIngredients('category')" class="dropdown-item">Group by Category</a></li>
                      <li><a (click)="exportIngs()" class="dropdown-item">Export</a></li>
                      <li><a (click)="importIngs()" class="dropdown-item">Import</a></li>

                    </ul>
                  </div>

                </div>

              </div>


            </div>

          </div>
        </div>-->

            <div class="card-header-no-border-bottom">
                <div class="row align-items-center">
                  <div class="col-7 header-title align-items-center">
                    <h5  for="searchIng" id="searchIng1">Search Ingredient</h5>
                  </div>
                  <div class="col-5 align-items-center">

                    <div class="container align-items-center me-n5">
                    <a class="btn  btn-icon">
                          <span
                          (click)="refresh(false,false,false)"
                          class="btn-inner"
                          type="submit"
                        >
                          +
                        </span>
                    </a>

                       <a class="btn btn-sm btn-icon">
                         <span class="btn-inner ">
                           <div class="dropdown text-dark">
                      <small id="dropdownMenuButton8" data-bs-toggle="dropdown" aria-expanded="true" role="button"  class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                      </small>

                    <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton7">

                      <li *ngIf="displayIngInfo.title==null"
                          [ngClass]="displayIngInfo.title!=null ? 'enabled' : 'disabled'"class="dropdown-item ">Update
                        (select any ingredient)</li>
                      <li
                        *ngIf="displayIngInfo.title!=null"><a (click)="onUpdate()" class="dropdown-item ">Update</a></li>
                      <li *ngIf="displayIngInfo.title==null"
                          [ngClass]="displayIngInfo.title!=null ? 'enabled' : 'disabled'"><a class="dropdown-item">Remove
                        (select any ingredient)</a></li>
                      <li
                        *ngIf="displayIngInfo.title!=null"><a (click)="remove()" class="dropdown-item">Remove</a></li>
                      <!-- <li><hr class="dropdown-divider"></li>-->
                      <li><a (click)="sortIngredients('alphabetically')" class="dropdown-item">Group by Alphabetically</a>
                      </li>
                      <!-- <li><hr class="dropdown-divider"></li>-->
                      <li><a (click)="sortIngredients('category')" class="dropdown-item">Group by Category</a></li>
                      <li><a (click)="exportIngs()" class="dropdown-item">Export</a></li>
                      <li><a (click)="importIngs()" class="dropdown-item">Import</a></li>

                    </ul>
                           </div>

                         </span>
                  </a>

                    </div>

                  </div>


                </div>

                <div class="row align-items-center  mx-1 pe-3 pt-3">

                <ng-select
                  (change)="getIngredient($event)"
                  [multiple]="false"
                  [searchable]="true"
                  appendTo="body"
                  class="form-control"
                  id="searchIng"
                >
                  <ng-option
                    *ngFor="let ing of appComponent.ingredients"
                    [value]="ing"
                  >{{ ing.title }}
                  </ng-option
                  >
                </ng-select>

                </div>
              <div class="border-bottom border-1 mx-3 py-2  ms-2">

            </div>
            </div>

        <div class="card-body">
          <div class="row ms-1">
            <!--by category-->
            <div *ngIf="sortIngredientsBy=='category'" class="row ps-4 mt-4 w-75 overflow-auto h-50 ">
              <ul
                *ngFor="let mapCategFoIng of appComponent.categoryIngredientMap | keyvalue; let i = index; trackBy: this.appComponent.trackByIndex"
                class="container-fluid list-group list-group-flush  "
              >
                <div>
                  {{ mapCategFoIng.key }}
                  <ul
                    *ngFor="let ing of mapCategFoIng.value"
                    class="container-fluid list-group list-group-flush  "
                  >
                    <li (click)="getIngredient(ing)" class="list-group-item list-group-item-action" style="cursor: pointer;">
                      {{ ing.title }}
                    </li>
                  </ul>
                </div>
                <li class="dropdown-divider"></li>
              </ul>
            </div>

            <!--by alphabetically-->
            <div *ngIf="sortIngredientsBy=='alphabetically'" class="row  ps-3 mt-3 w-75">
              <ul
                *ngFor="let ing of appComponent.ingredients |  sortByOrder:'title'"
                class="list-group list-group-flush "
              >
                <li
                  (click)="getIngredient(ing)"
                  class="list-group-item list-group-item-action cursor-pointer"
                >
                  {{ ing.title }}
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="col-xl-85 col-lg-8">

      <div *ngIf="showIng" class="card">

        <div class="row  p-3">
          <div class="row d-flex">
            <h6 class="align-middle col-auto">Unit :</h6>
            <p class="align-middle col-auto">{{ displayIngInfo.unit }}</p>
          </div>
          <div class="row d-flex">
            <h6 class="align-middle col-auto">GST :</h6>
            <p class="align-middle col-auto">{{ displayIngInfo.gst }}</p>
          </div>
          <div class="row ">
            <p class="align-middle col-auto fw-bold">Minimum inventory :</p>
            <p class="align-middle col-auto ">{{ displayIngInfo.minimumInventory }}</p>
          </div>


          <div class="container">
            <h6 class="align-middle">Categories :</h6>
            <ul class="inline-list comma-separated mx-4">
              <li
                *ngFor="let categ of appComponent.getMainCategoriesFor(displayIngInfo.categoriesForIngredient)"
                class="comma-separated"
              >
                {{ categ.category.title }}
              </li>
            </ul>
          </div>

          <div class="container">
            <h6 class="align-middle">Sub-Categories :</h6>
            <ul class="inline-list comma-separated mx-4">
              <li
                *ngFor="let categ of appComponent.getSubCategoriesFor(displayIngInfo.categoriesForIngredient)"
                class="comma-separated"
              >
                {{ categ.category.title }}
              </li>
            </ul>
          </div>

          <div class="container">
            <h6 class="align-middle">Supplier :</h6>
            <ul class="inline-list comma-separated mx-4">
              <li
                *ngFor="let supp of displayIngInfo.supplierForIngredients" class="comma-separated"
              >
                {{ supp.supplier.title }}
              </li>
            </ul>
          </div>


          <div class="container">
            <h6 class="align-middle">Brand :</h6>
            <ul class=" mx-4">
              <li
                *ngFor="let bra of displayIngInfo.brandForIngredients" class=""
              >
                <p> {{ bra.brand.title }} </p>
                <br/>

                <div class="row">
                  <div class="col">
                    <p class="align-middle col-auto"> SKU/MRP cost : {{ bra.skuCost }} </p>
                  </div>
                  <div class="col ">
                    <p class="align-middle col-auto"> SKU qty : {{ bra.skuQty }} </p>
                  </div>
                  <div class="col ">
                    <p class="align-middle col-auto "> Per unit cost (excluding GST) : {{ bra.perUnitCost }} </p>
                  </div>
                </div>

                <br/>
                <div class="row">
                  <div class="col ">
                    <h6 class="align-middle col-auto">Per unit cost (including
                      GST) : {{ bra.perUnitCost * (1 + (this.displayIngInfo.gst) / 100) }}</h6>
                  </div>
                  <div class="col ">
                    <h6 class="align-middle col-auto"> SKU/MRP cost (including
                      GST) : {{ bra.skuCost * (1 + (this.displayIngInfo.gst) / 100) }}</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="displayIngInfo.title!=null" class="row my-2 " style="width: 8%;height: 31%;margin-left: 93%">

          <button (click)="onUpdate()" class="btn btn-primary" type="button">
            Update
          </button>

        </div>

      </div>
      <div
        *ngIf="!showIng"
        class="card"
      >
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Add New Ingredient</h4>
          </div>
        </div>

        <div class="card-body">
        <form
          #addIngForm="ngForm"
          (ngSubmit)="addIngredients()"
          autocomplete="off"
          class="form-group"
          id="addIngForm"
        >
          <label for="titleIng">*Title</label>
          <input
            #titleIng="ngModel"
            [(ngModel)]="addIngredient.ingredient.title"
            class="form-control w-25"
            id="titleIng"
            name="titleIng"
            placeholder="Title is required"
            required
            type="text"
          />
          <div class="row">
            <div class="col">
              <label class="mt-2" for="categoryForIng" id="categoryForIng1"
              >Category</label>
              <ng-select
                (add)="setCategories($event,false)"
                (remove)="removeCategories($event,false)"
                [(ngModel)]="addIngredient.ingredient.catList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="form-control"
                id="categoryForIng"
                name="categoryForIng"
              >
                <ng-option
                  *ngFor="let cat of appComponent.categoriesIngredient"
                  [value]="cat"
                >{{ cat.title }}
                </ng-option
                >
              </ng-select>
              <label class="mt-2" for="supplierForIng" id="supplierForIng1"
              >Supplier</label
              >
              <ng-select
                (add)="setSuppliers($event)"
                (remove)="removeSuppliers($event)"
                [(ngModel)]="addIngredient.ingredient.supplierList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="form-control"
                id="supplierForIng"
                name="supplierForIng"
              >
                <ng-option
                  *ngFor="let sup of appComponent.suppliers"
                  [value]="sup"
                >{{ sup.title }}
                </ng-option
                >
              </ng-select>


              <label class="" for="unitListIng">Units:</label>
              <select
                [(ngModel)]="addIngredient.ingredient.unit"
                class="form-control w-25"
                id="unitListIng"
                name="unitListIng"
              >
                <optgroup
                  *ngFor="
                let group of appComponent.appConfiguration.unitsDetailed
                  | keyvalue
              "
                  [attr.label]="group.key"
                >
                  <option
                    *ngFor="let unitDetailed of group.value"
                    value="{{ unitDetailed.unit }}"
                  >
                    {{ unitDetailed.unit }} ({{ unitDetailed.description }})
                  </option>
                </optgroup>
              </select>

              <label for="gstIng">GST %</label>
              <input
                #titleIng="ngModel"
                [(ngModel)]="addIngredient.ingredient.gst"
                class="form-control w-25"
                id="gstIng"
                name="gstIng"
                type="text"
              />


              <label for="minInvent">Minimum inventory</label>
              <input
                #titleIng="ngModel"
                [(ngModel)]="addIngredient.ingredient.minimumInventory"
                class="form-control w-25"
                id="minInvent"
                name="minInvent"
                type="text"
              />


              <input (change)="onFileUpload($event)" class="mt-3" type="file"/>
              <img
                *ngIf="imageSrc"
                [src]="imageSrc || 'http://placehold.it/180'"
                alt="your image"
                id="blah"
                style="width: 45px; height: 45px"
              />


            </div>
            <div class="col">
              <label class="mt-2" for="subCategoryForIng" id="subCategoryForIng1"
              >Sub-Category</label>
              <ng-select
                (add)="setCategories($event,true)"
                (remove)="removeCategories($event,true)"
                [(ngModel)]="addIngredient.ingredient.subCatList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="form-control"
                id="subCategoryForIng"
                name="subCategoryForIng"
              >
                <ng-option
                  *ngFor="let cat of appComponent.getSubCategories(appComponent.categoriesIngredient)"
                  [value]="cat"
                >{{ cat.title }}
                </ng-option
                >
              </ng-select>


              <label class="mt-2" for="brandForIng" id="brandForIng1">Brand</label>
              <ng-select
                #filterWith
                (add)="setBrands($event)"
                (clear)="clearAllBrands()"
                (remove)="removeBrands($event)"
                [(ngModel)]="addIngredient.ingredient.brandList"
                [addTag]="true"
                [multiple]="true"
                [searchable]="true"
                appendTo="body"
                class="form-control"
                id="brandForIng"
                name="brandForIng"
              >
                <ng-option
                  *ngFor="let brand of appComponent.brands"
                  [value]="brand"
                >{{ brand.title }}
                </ng-option
                >
              </ng-select>

              <ul>
                <li
                  *ngFor="
                      let addBrandForIng of this.addIngredient.ingredient
                        .brandForIngredients;  let i=index;
                      trackBy: this.appComponent.trackByIndex
                    "
                >
                  {{ addBrandForIng.brand.title }}
                  <br/>

                  <div class="input-group mt-2">
                    <span class="input-group-text">SKU/MRP cost</span>
                    <input
                      (input)="calculatePerUnitCost(addBrandForIng)"
                      [(ngModel)]="addBrandForIng.skuCost"
                      aria-label="sku Cost"
                      class="form-control"
                      id="skuCostIng{{i}}"
                      name="skuCostIng{{i}}"
                      placeholder="sku Cost"
                      type="text"
                    />
                    <span class="input-group-text">SKU qty</span>
                    <input
                      (input)="calculatePerUnitCost(addBrandForIng)"
                      [(ngModel)]="addBrandForIng.skuQty"
                      aria-label="sku Qty"
                      class="form-control"
                      class="form-control"
                      id="skuQty{{i}}"
                      name="skuQty{{i}}"
                      placeholder="sku Qty"
                      type="text"
                    />
                  </div>
                  <p class=" small"> SKU/MRP cost (including
                    GST)- {{ addBrandForIng.skuCost * (1 + (this.addIngredient.ingredient.gst) / 100) }} </p>

                  <div class="row">
                    <p class="small col-6"> Per unit cost (excluding GST)- {{ addBrandForIng.perUnitCost }} </p>
                    <p class="small col-6"> Per unit cost (including
                      GST)- {{ addBrandForIng.perUnitCost * (1 + (this.addIngredient.ingredient.gst) / 100) }} </p>
                  </div>

                </li>
              </ul>


            </div>

          </div>


          <p></p>
          <div class="d-flex align-items-end justify-content-end">
            <button
              [disabled]="!addIngForm.form.valid"
              class="btn btn-primary"
              type="submit"
            >
              Submit
            </button>
          </div>
          <p class="text-center small">Last updated on : {{ addIngredient.ingredient.modifiedTs }}</p>
        </form>
          </div>
      </div>
    </div>

  </div>
</div>

